body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}

.display{

    border: 1px solid blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}